<div class="row">
	<div class="col-12 text-center mt-4 mb-3">
		<h1><%= @tag.name %></h1>
	</div>
</div>

<div class="row">
	<% if @tag.posts.empty? %>
		<h2>Постов нет</h2>
	<% else %>
		<%= render @tag.posts %>
	<% end %>
</div>