/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.badge-firm {
    color: #fff;
    background-color: #5c10ad;
}

.bg-custom {
    background-color: #470882;
    background-image: -webkit-linear-gradient(right,#c15889 0,#470882 100%);
    background-image: -o-linear-gradient(right,#c15889 0,#470882 100%);
    background-image: -webkit-gradient(linear,left,right,from(#c15889),to(#470882));
    background-image: linear-gradient(to left, #c15889 0, #470882 100%);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);

    &:hover {color: rgba(255, 255, 255, 1);}
}

.col-md-4 {
	margin-bottom: 30px;
}

.card-title {
	font-weight: bold;
	font-size: 20px;

	a {color: #5c10ad;}
}

.card-tags {
	margin-bottom: 8px;

	a {
		margin-right: 4px;

	    &:hover {
		    color: #fff;
		    background: #7e32cf;
	    }
	}
}

.card-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;

	> div a {
		font-size: 14px;
		color: #aaa;

	    &:last-child {font-size: 20px;}
	}
}

.cat-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;

	> div {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> * {
			&:first-child {
				margin-right: 15px;
			}
		}
	}
}