.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 15px;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-radius: 0 0 10px 10px;
  }

  &:hover {
    background: #fcfed5;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child > *:first-child {
      margin-left: 5px;
      margin-right: 15px;
      border-right: 1px solid #ddd;
    }

    &:first-child > *:last-child {
      font-weight: 600;
      font-size: 14px;
      color: #777;
    }

    &:last-child {
      display: none;
    }

    &:last-child button {
      padding-left: 15px;
      font-size: 16px;
      color: #888;
      border-left: 1px solid #ccc;

      &:hover {
        color: #222;
      }
    }
  }

  &:hover > div:last-child {
    display: block;
  }

  .editTaskInput, .editTaskButton, .closeTaskButton {
    display: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    color: #888;
  }

  .editTaskButton, .closeTaskButton {
    border: none;
    font-size: 18px;
    color: #777;

    &:hover {
      color: #444;
    }
  }
}

.task-name-checked {
  text-decoration: line-through;
}

.task-date {
  display: none;
  position: absolute;
  top: 50%;
  right: 230px;
  transform: translateY(-50%);
  z-index: 1;
  outline: none;
  color: #888;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
}

.task-date-show {
  display: block;
}

.isnt-time {
  background: #e6aeae;
}